.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: $primary;
    padding: 2rem 0.5rem 10px 15px;
}

.logo{
    padding: 2rem;
    img{
        width: 170px;
    }
}

.nav{
    display: flex;
    padding: 2rem;
    gap: 2rem;
    color: aliceblue;
    .link{
        list-style: none;
        font-size: 14px;
        cursor: pointer;
    }
}

.nav .link:hover{
    font-weight: 700;
    font-size: 20;
}